In [1]:
import pandas as pd

In [3]:
kaggle_metadata = pd.read_csv('data/movies_metadata.csv', low_memory = False)
ratings = pd.read_csv('data/ratings.csv')

In [7]:
ratings.sample(10)

          userId  movieId  rating   timestamp
9910645   102105     2112     2.0   953592313
16257022  168933     1625     4.5  1479995937
2016805    20965     5952     3.0  1466875259
13332218  138620      457     4.0   845731680
8125706    83784     1030     3.0   974914238
2136540    22190     4993     5.0  1416893684
25496169  265366    37733     4.0  1463238704
6051264    62325     2694     4.0  1036954745
5187018    53454    80549     4.0  1427580913
13298058  138263     4232     2.0  1127566839